.boxLogoHomePage{
    margin-top: 5rem;
    display: flex;

    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--collor-darkgreen);
    margin-bottom: 1.25rem;
}
/* mobile  */

.ComputerLogoHomePage{
    width: 4.188rem;
    height: 3.75rem;
}